<div id="<%= dom_id financial_movement %>">
  <p>
    <strong>User:</strong>
    <%= financial_movement.user_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= financial_movement.amount %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= financial_movement.type %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= financial_movement.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= financial_movement.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= financial_movement.date %>
  </p>

</div>
